.user-profile{
    display: flex;
    flex-direction: column;
   
    color: white;
    margin: 5rem;
}
.profile-card{
    background-color: rgb(1, 1, 11);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
   
    margin: 1rem;
    width: 50%;
    height: 60%;
    padding: 20px;
    
}

.profile-image img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.user-info button{
    background-color: rgb(221, 12, 12);
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
}
.user-info button:hover{
    background-color: darkred;
}