.login{
    color :white;
    width: 100vw;
    height: 100vh;
    background: rgb(14,14,14);
    background: linear-gradient(77deg, rgba(14,14,14,1) 34%, rgba(110,7,7,1) 81%, rgba(177,9,9,1) 98%);
}

@media only screen and (max-width: 600px){
    .heading{
        font-size: 0.8rem;
        margin: 2%;
    } 
    .login-container{
        margin: 6%;
    }
}

.heading{

}