.banner{
    height: 95vh;
    position: relative;
    object-fit: contain;
}

.banner-image{
    width: 100vw;
    height: 100%;
   
    filter: brightness(60%); 
    background-size: cover;
    object-fit: cover;
    background-position: center center;
}

.banner-info{
    width: 40%;
    position: absolute;
    left: 45px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.banner-title{
   
    font-size: xx-large;
    font-weight: bolder;
}

.banner-description{
    margin: 30px 0px;
    line-height: 1.5;
}
.banner-btns{
    display: flex;
    
}

.banner-btn{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    background-color: rgba(150, 150, 150, 0.5);
    color: white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.banner-btn span{
    margin-left: 5px;
}

.banner-btn:hover{
    color: black;
    background-color: white;
}

.banner.loading {
    position: relative;
  }
  
  .banner.loading .skeleton {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #333, #444, #333);
    background-size: 200% 100%;
    animation: skeleton-loading 1s infinite linear;
    border-radius: 10px;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-position: 200%;
    }
    100% {
      background-position: -200%;
    }
  }