.movie-list{
    width:100%;
    margin: 10px;

}

.list-title{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 40px;
    
}
.list-wrapper{
    display: flex;
    margin-left: 5px;
    position: relative;
    
}
.list-container{
    display: flex;
    margin-left: 10px;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
}
.slider-arrow{
    width:50px;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.5);
    color: white;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

.left-arrow{
    left:0
}

.right-arrow{
    right:0;
    
}


@media only screen and (max-width: 768px) {
    .movie-list{
        width: 100vw;
    }
    .list-container{
        width: max-content;
    }
}